# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TheGameOfLive.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Steven\source\repos\TheGameOfLive\.idea\.idea.TheGameOfLive.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
